* {
    padding: 0;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
  }
  h1 {
      color: #fff;
      text-align: center;
      font-size: 10vw;
  }
  div#fp-nav a span {
      background: #fff !important;
  }